 *
        { margin : 0;
          padding : 0;
          list-style : none;
          text-decoration : none;
          font-family: Times New Roman;
          }

    header, footer

        { width : 100%;
         height : 85px;
         background-color : #A93226 ;
         display: flex ;       
         align-items: center;
         box-shadow : 6px 6px 6px 4px;
       }

    h2
    {
      margin-top: 30px;
    }
    header
    {
      justify-content: space-evenly;
    }

    footer span
    {
      margin-left: 15px;
    }

    header > a,
    header button,
    footer span,
    .parcelle
    {

      color : white;
      font-size: 1.3em;

     }
    header button 
    {

      background-color : transparent;
      border : none;
      outline: none;

      }


    header .dropdown-1
    { position: relative;
      height: 100%;
      display: flex;}

header .dropdown-1 .content
{ display: none;}

 header .dropdown-1:hover .content

  {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:ghostwhite;
    top : 70px;
    width :100%;
    padding: 10px 1px;
    box-sizing: content-box;
     }

    header  a

  {
    display: flex;
    justify-content: space-between;
    margin : 5px;
    padding: 5px 5px;
    box-sizing: content-box;
    font-size :1em;
    font-family: system-ui;

  }

  .parcelle
  {
    transition: background-color 3s, height 2s, width 2s, color 2s;
    font-family: Times New Roman;
  }

  .parcelle:hover
  {

    background-color: white  ;
    height : auto;
    width : auto;
    color : #A93226;
    
  }

 body
    {
            background-color: #141e30;
    }

section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #243b55,#141e30);
  position: relative;
}
#error {
  color: red;
  text-align: center;

}

.form-container {
  margin-bottom: 60px;
  position: relative;
  width: 400px;
  overflow: hidden;
  padding: 50px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 20px;
}
.form-container h3 {
  text-align: center;
  padding: 8px;
  justify-content:space-between;
}
.form-grp{
  padding: 8px;
  position: relative;

}
input[type=text], input[type=password] {
  outline: none;
  display: block;
  background: whitesmoke;
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 12px 20px;
  color: black;
  font-size: inherit;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

input[type=text]:focus, input[type=password]:focus {
  outline: 0;
}
input[type=submit] {
  outline: none;
  display: block;
  background: whitesmoke;
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 12px 20px;
  color: green;
  font-size: inherit;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}
.form-grp .fa {
  position: absolute;
  top: 50%;
  right: 8%;
  display: none;

}

.fa-times {
  color: red;

}

.fa-check{
  color: green;
}

/******************************FOOTER**************************/
  footer
  { 
    margin-top :210px;
    display: flex;
    flex-direction: column;
    
}

.apropos
{
  color : white ;
  background-color: transparent;
  width: auto;
  height: auto;
  border: solid 2px;
  border-width: 2px;
  transition: color 2s background-color 2s width 2s height 2s;
}

.apropos:hover
{
  color: red;
  background-color: white;
  width : 20 px;
  height: 20 px;
 

}
